<div class="container">
  <div class="lead well">
    <li class="media">
      <div class="media-left">
        <img src=<%= gravator(@question.email) %>/>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= @question.email %></h4>
        <%= @question.question %>
      </div>
    </li>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div>
      <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#new-answer-modal">Submit
        new answer
      </button>
    </div>

    <% @answers.each do |a| %>
        <li class="media">
          <div class="media-left">
            <a href="#">
              <img src=<%= gravator(a.email) %>/>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= a.email %> answered:</h4>
            <div><%= time_ago_in_words(a.created_at) %> ago</div>
            <%= a.answer %>
          </div>
        </li>
    <% end %>

    <% if @answers.empty? %>
        <div class="alert alert-info">No answers</div>
    <% end %>
  </div>
</div>

<%= render partial: 'new_answer' %>